@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$bg1: rgb(247, 247, 247);
$textColor: #1A1A1A;
$textColor2: #6E6E7E;
$borderColor: #E5E7EB;
$fSize1: 11.5px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: $bg1;
    color: $textColor;
}

header{
    background-color: rgba(247, 247, 247, 0.664);
    backdrop-filter: blur(5px);
    padding: .8em 1.2em;
    position: sticky;
    width: 100%;
    top: 0;
    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1{font-size: 16px;}
        .tags{
            display: flex;
            align-items: center;
            a{
                display: inline-block;
                font-size: $fSize1;
                font-weight: 400;
                margin: 0 1em;
                text-decoration: none;
                color: $textColor;
            }
        }
    }
}